.display{
    margin: 10px;
    width: 175px;
    font-size: 25px;
    background-color: rgb(136, 135, 138);
    color: white;
    border-radius: 5px;
    /* padding: 10px; */
    text-align: right;
    box-shadow: 0px 0px 5px 1px black;
}
